# Python
.venv/
__pycache__/
*.pyc

# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan

# Lambda build artifacts
*.zip

# Local test output
response.json

# macOS
.DS_Store